/* styling for word count */
/* task1 */
.zero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    width: 400px;
    align-items: center;
    justify-content: center;
    box-shadow:  0px 0px 5px 5px rgba(128, 128, 128, 0.116);
}
.one{
    width: 300px;
    height: 100px;
    text-align: left;
    vertical-align:top;
    
}
.neg{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    
    
}
.para{
    text-align: center;
    width: 300px;
} 